/* ----------------------------------------- */
/* FULL PAGE */
/* ----------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*height: 100vh;*/
    width: 1200px;
    margin:0;
    padding: 0;
    font-family: Carrois Gothic, Geneva, sans-serif;
    font-size: 20px;
}

.wrapper { overflow: hidden; }

/* ----------------------------------------- */
/* HEADER */
/* ----------------------------------------- */

header {
    height: 450px;
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0.5))),url(img/bg-02.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/bg-02.jpg);
    /*background-size: cover;*/
    background-repeat: no-repeat;
    /*padding: 0 4%;*/
    display: table;
    
}

.profile-photo { 
    display: table-cell;
    vertical-align: middle;
    padding: 0 35px;
}

.profile-photo h1 { 
    color: #ffffff;
    font-size: 450%;
    line-height: 130px;
}

.profile-photo p { 
    color: #ffffff;
    font-size: 140%;
    opacity: 0.7;
}

.profile-photo img{
    width:120px;
    height:120px;
    border-radius: 50%;
    border: 4px solid #343a42;
}

/* ----------------------------------------- */
/* BASIC DETAILS */
/* ----------------------------------------- */

.section-basic {
    background-color: #0674be;
    width: 100%;
    background-size: cover;
    padding: 20px;
}

.section-basic h3 {
    color: #ffffff;
    opacity: 0.5;
    font-size: 140%;
}

.section-basic div div p {
    color: #ffffff;
    margin-left: 10px ;
    font-size: 90%
}

.basic-content {
    border-left: 4px solid rgba(255, 255, 255, 0.4); 
    height: 50px;
    padding-left: 5px;
    float: left;    
    margin-top: 20px;
}

.basic-content:after {
    clear: both;
}

.basic-title { 
    opacity: 0.4;
    font-weight: bold;
}

.basic-value { 
    font-weight: 300;
}

/* ----------------------------------------- */
/* ABOUT */
/* ----------------------------------------- */

.section-about {
    background-color: #067ecb;
    width: 100%;
    padding: 0 20px;
}

.section-about h2 {
    color: #ffffff;
    font-size: 200%;
    border-left: 4px solid rgba(255,255,255,0.4);
    padding-left: 20px;
    margin: 25px 0;
}

.section-about p {
    color: rgba(255,255,255, 0.7);
    font-size: 103%;
    font-weight: bold;
    width: 100%;
    line-height: 32px;
/*    opacity: 0.8;*/
}

.section-about p .bright { 
    color: #ffffff;
    font-size: 96%;
}

.section-about div {
    color: #ffffff;
/*    margin-top: 2%;*/
    font-size: 170%;
    margin: 35px 0;
}


.section-about div .quote-style { 
    margin: 0 ;
    float: left;
}

.section-about div .quote-style:after {
    clear: both;
}

.quote-style q {
    font-size: 100%;
    position: relative;
    bottom: 10px;
    opacity: 0.7;
}

.quote-style q::after {
    content: none;
}

.section-about div .quote-content { 
    font-size: 70%;
    font-weight: bold;
    position: relative;
    right: 20px;
}
/* ----------------------------------------- */
/* COLUMN */
/* ----------------------------------------- */

.col-1 {
    width: 8.33%;
}


.col-4 {
    width: 33.33%;
}


.col-6 {
    width: 50%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* ----------------------------------------- */
/* MEDIUM DEVICES */
/* ----------------------------------------- */

@media only screen and (min-width:1201px) {
    * { 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
        margin: 0 auto;
    }
}

@media only screen and (max-width:1200px) and (min-width: 1025px) {
    * { 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 601px) {
    
    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 18px;
    }

    .profile-photo h1 { 
        font-size: 350%;
        line-height: 80px;
    }
    
    .profile-photo img{
        width:100px;
        height:100px;
    }
    
    .profile-photo { 
        padding: 0 25px;
    }
    
    .section-about div .quote-content {
        font-size: 49%;
        position: relative;
        right: 10px;
    }
    
    .quote-style q {
        font-size: 85%;
        position: relative;
        bottom: 22px;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-12 {
        width: 100%;
    }
}
/* ----------------------------------------- */
/* SMALL DEVICES */
/* ----------------------------------------- */
@media screen and (max-width: 600px) {

    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
    
    header {
        height: 250px;
    }
    
    .profile-photo h1 { 
        font-size: 200%;
        line-height: 50px;
    }
    
    .profile-photo p { 
        font-size: 120%;
    }
    
    .section-about div .quote-content {
        font-size: 37%;
        position: relative;
        right: 0%;
    }
    
    .section-about div .quote-style {
        font-size: 100%;
    }
    
    .quote-style q {
        position: relative;
        bottom: 6px;
    }
    
    .profile-photo img{
        width:80px;
        height:80px;
    }
    
    .section-about h2 {
        padding-left: 10px;
    }
    
    .basic-content {
        height: 40px;    
    }
    
    .section-about div {
        font-size: 160%;
    }
    
    .profile-photo { 
        padding: 0 15px;
    }
        
    .col-s-12 {
        width: 100%;
    }
}
